<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common :: head('게시판')">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link th:href="@{/starter-template.css}" rel="stylesheet">

    <title>게시판</title>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:replace="fragments/common :: menu('board')">
 
    </nav>

    <div class="container">
        <h2>게시판</h2>
		<form action="#" th:action="@{'/answer/view/'+${board.getQuestionBoardId()}+'/'+${board.getAnswerBoardId()}}" method="get">
		<div class="mb-3">
		  <label for="title" class="form-label">제목</label>
		  <input type="hidden" name="title" th:value="${board.title}" th:text="${board.title}">
		</div>
		
		<div class="mb-3">
		  <label for="name" class="form-label">작성자</label>
		  <input type="hidden" style="border:0px;" name="memberName" th:value="${session.member.getName()}"  th:text="${session.member.getName()}"  readonly>
		</div>
		
		<div class="mb-3">
		  <label for="content" class="form-label">내용</label>
		  <input style="height:300px; word-wrap:break-word;" type="hidden"  class="form-control" 
		  id="content" rows="3" name="content" th:value="${board.content}" th:text="${board.content}">
		</div>		
		
		
		<div class="text-right">
            <button type="button" class="btn btn-primary" th:onclick="|location.href='@{/answer/list/{questionBoardId}(questionBoardId = ${board.getQuestionBoardId()})}'|">뒤로가기</button>
        </div>			
		</form>       
       
    </div>

 
</body>

</html>